<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208418082518-pndec1pt9o15rnd90ehotjmik8meibuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208418082518-pndec1pt9o15rnd90ehotjmik8meibuo</string>
	<key>API_KEY</key>
	<string>AIzaSyBWR3r20MKGpLJq2hfvlTscoBg4463vCF8</string>
	<key>GCM_SENDER_ID</key>
	<string>208418082518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matching.MatchingService</string>
	<key>PROJECT_ID</key>
	<string>matchingservice-inu</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingservice-inu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208418082518:ios:2b66b5f8c5895875bd0377</string>
	<key>DATABASE_URL</key>
	<string>https://matchingservice-inu.firebaseio.com</string>
</dict>
</plist>